.cobime {
  background-image: url("/public/images/inicio/Banner-4.png");
  background-size: cover;
  background-position: center;
  /* height: 290px; */
  text-align: center;
  color: #fff;
  padding-block: 60px;
  padding-inline: 50px;
}

.cobime__background-image {
  /* z-index: 2; */
}

.cobime__header {
  font-size: smaller;
}

.cobime__main {
  font-weight: 600;
}

.cobime__main--bold {
  font-weight: 800;
}

.cobime__paragraph {
  font-size: larger;
}

.cobime__button-container {
  margin-top: 20px;
}
