.contacto {
  background-image: url("/public/images/inicio/Banner-5.png");
  background-size: cover;
}

.contacto__container {
  width: 70%;
  margin: auto;
  padding-block: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
}

.contacto__text {
  width: 60%;
  margin: auto auto;
  /* align-items: center; */
  /* margin-top: 87px;
  margin-left: 90px; */
}

.contacto__image {
  width: 300px;
  margin-bottom: 30px;
}

.contacto__header {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.contacto__paragraph {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.contacto__paragraph--bold {
  font-weight: 600;
}

.whatsapp-link {
  text-decoration: none;
  margin-right: 0px;
  width: 226px;
  color: #fff;
  display: flex;
}

.whatsapp-link:hover {
  color: #fff;
}

.contacto__whatsapp {
  width: 226px;
  height: 50px;
  background-color: #00cb50;
  font-size: 2rem;
  color: #fff;
  padding-bottom: 0px;
  display: flex;
  border: none;
  border-radius: 5px;
  margin-right: 0px;
}

.contacto__whatsapp:hover {
  background-color: #00bd4c;
}

.whatsapp-icon {
  margin-top: -7px;
  margin-left: 29px;
  margin-right: 7px;
}

.whatsapp-text {
  font-size: 24px;
  margin: auto 0;
}

.contacto__form-container {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #0f0f0f;
  border-radius: 25px;
  padding: 50px;
}

.contacto__form-paragraph {
  font-size: 1.3rem;
  font-weight: 300;
}

/* .contacto__form {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
} */

.contacto__inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.contacto__input {
  height: 50px;
  padding-left: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: #0d0d0d;
  border: 1.5px solid #1f1f1f;
  border-radius: 5px;
  color: #fff;
  /* width: 45%; */
}

.contacto__input:hover {
  border-color: #60071f;
}

.contacto__input-large {
  width: 100%;
  height: 130px;
  padding: 10px;
  background-color: #0d0d0d;
  border: 1.5px solid #1f1f1f;
  border-radius: 5px;
  color: #fff;
}

.contacto__input-large:hover {
  border-color: #60071f;
}

.form_button {
  margin: auto;
}

.input-errors {
  margin: auto 0;
  /* ?como mandarlo para abajo */
  display: block;
  font-size: 0.7rem;
}

@media (max-width: 1400px) {
  .contacto__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .contacto__text {
    text-align: center;
    width: 90%;
  }
  .contacto__whatsapp {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .contacto__container {
    width: 90%;
  }
  .contacto__form-paragraph {
    font-size: 1rem;
  }
  .contacto__form {
    /* grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem; */
  }
  .contacto__inputs-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
  }
}
