.footer {
  background-color: #0f0f0f;
  color: #fff;
}

.footer__summary {
  margin: 0 auto;
  width: 70%;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
}

.footer__contactanos {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.footer__header-contactanos {
  font-size: 1.2rem;
  color: #6c0a27;
}
.footer__header-accesos-directos {
  margin-left: 40px;
  font-size: 1.2rem;
  color: #6c0a27;
}

.footer__contactanos-list {
  list-style: none;
  padding-left: 0px;
}

.footer__contactanos-list-item {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.footer__list-icons {
  list-style: none;
  display: flex;
}

.footer__icon-circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon-link {
  margin-top: -3px;
  font-size: 1rem;
  color: #0f0f0f;
}

.footer__icon-link:hover {
  color: #0f0f0f;
}

.footer__accesos-directos {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.footer__accesos-directos-container {
  display: flex;
  justify-content: flex-start;
}

.footer__accesos-directos-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__accesos-directos-link {
  text-decoration: none;
  color: #fff;
}
.footer__accesos-directos-link:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__button-up {
  margin: auto auto;
  height: fit-content;
}

.footer__button-up-icon {
  color: #0f0f0f;
  background-color: #fff;
  border-radius: 50%;

  font-size: 3rem;
}

@media (max-width: 800px) {
  .footer__summary {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    padding-bottom: 40px;
  }
}
