.button-component {
  background-color: #850e30;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button-component:active {
  background-color: #7c0d2d;
}

.button-component:focus {
  box-shadow: 0 0 0 0.25rem #850e3045;
}

.btn__navbar {
  font-size: 0.9rem;
  padding-inline: 15px;
  padding-block: 7px;
}

.btn__main-banner {
  font-size: 1.1rem;
  font-weight: 500;
  padding-block: 8px;
  padding-inline: 15px;
}

.btn__entrenamientos-online--gris {
  background-color: #3a3a3a;
  font-weight: 300;
}

.btn__recursosvid {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 40px;
}

.btn__entrenamiento-presencial {
  background-color: #ffffff;
  color: #8f2444;
  font-size: 0.8rem;
}

.btn__capacitacion-main-banner {
  background-color: #ffffff;
  color: #840731;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 30px;
}
