.disclaimer-donar {
  background-color: #0f0f0f;
  color: #fff;
}

.disclaimer-donar__gray-line {
  width: 70%;
  border: 0.1px solid #ffffff32;
  margin: 0px auto 20px;
}

.disclaimer-donar__container {
  /* border: 1px solid red; */
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  row-gap: 1rem;
}

.disclaimer {
  /* border: 1px solid blue; */
  color: #4b4b4b;
}

.donar {
  /* border: 1px solid hotpink; */
  margin: auto;
}

.donar__image {
  width: 300px;
}

@media (max-width: 1200px) {
  .disclaimer-donar__container {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
  }
  .disclaimer {
    text-align: center;
    font-size: -0.7rem;
  }
}
