.main-banner {
  background-image: url(/public/images/mainBanner-bg.png);
  background-size: cover;
  /* height: 80vh; */
  display: flex;
  justify-content: end;
  /* align-items: center; */
  overflow-x: hidden;
}

.main-banner__text {
  color: #fff;
  padding-inline: 5rem;
  max-width: 900px;
  /* height: 100%; */
  padding: 190px 40px;
}

.main-banner__subtitle {
  font-size: 2.3rem;
  font-weight: lighter;
  margin-left: 4px;
}
.main-banner__title {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.main-banner__title span {
  font-weight: 800;
}

.main-banner__line {
  border: 0.75px solid rgba(255, 255, 255, 0.367);
  width: 175px;
  margin-bottom: 5px;
}

.main-banner__paragraph {
  width: 40rem;
  font-size: 1.2rem;
  font-weight: 300;
}

/* media querys al 75 %de width y al 100% de width */

@media (max-width: 767px) {
  .main-banner__text {
    padding: 180px 40px;
    max-width: 475px;
    font-size: 0.8rem;
  }
  .main-banner {
    justify-content: center;
    /* align-items: center; */
    background-position: center;
  }
  .main-banner__paragraph {
    width: 30rem;
  }
}
