.header {
  background-color: #850e30;
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  overflow-x: hidden;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
  height: 40px;
  width: min(90rem);
  justify-content: end;
}

.header__item {
  margin-right: 35px;
  color: inherit;
}

.header__list-icons {
  display: flex;
  list-style: none;
}

.header__icon-circle {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon-link {
  margin-top: -3px;
  font-size: 1rem;
  color: #850e30;
}

.header__icon-link:hover {
  color: #850e30;
}
