.mini-footer {
  background-color: #860f30;
  color: #fff;
  /* position: fixed;
  bottom: 0; */
}

.mini-footer__text {
  width: 65%;
  margin: 0 auto;
  padding-block: 20px;
}

.mini-footer__text--light {
  font-weight: 300;
}
