html {
  scroll-behavior: smooth;
}

.container-fluid {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ! CAPACITACION BANNER<-------------- */

.entrenamientos__scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.capacitacion {
  background-image: url(/public/images/entrenamientos/Banner-1.jpg);
  background-size: cover;
  color: #fff;
  height: 470px;
  /* width: 100vw; */
  display: flex;
}

.capacitacion-container {
  max-width: 60%;
  /* align-items: center; */
  /* padding: 115px 500px 115px 300px; */
  margin: auto;
}

.entrenamientos__header {
  font-size: max(4.5vw, 3rem);
  font-weight: 800;
}

.entrenamientos__paragraph {
  font-size: max(1.5vw, 1rem);
  font-weight: 200;
}

/* ^ SIDEBAR ON BANNER */
.sidenav {
  height: 100%;
  width: 0;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #66011fc1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* text-align: center;*/
  padding-top: 120px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #cecdcd;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 120px;
  left: 170px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*! ENTRENAMIENOT ONLINE<----------- */

.entrenamientos__entrenamientos-online {
}

.entrenamientos-entrenamiento__card-image {
  /* display: block; */
  /* border-radius: 0; */
  width: 100%;
  aspect-ratio: 10/9;
  /* width: 45vw; */
  object-fit: cover;
}

.entrenamientos-entrenamiento__card-text {
  font-size: max(1vw, 0.8rem);
  width: 100%;
  padding-block: 11.8%;
  padding-inline: 15%;
}

.btn__entrenamientos-entrenamientos-online--rojo {
  margin-bottom: 5px;
  font-size: 0.8rem;
  padding: 15px 25px;
  margin-right: 10px;
}
.btn__entrenamientos-entrenamientos-online--gris {
  font-size: 0.8rem;
  background-color: #3b3b3b;
  padding: 15px 25px;
}

/* Medias queries<------------- */

/* ! PLAN HABANA BANNER <------------- */

.plan-habana {
  background-color: #0e0e0e;
}

.plan-habana-banner {
  background-color: #010002;
  color: #fff;
}

.plan-habana-banner__text {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 30%; */
  /* justify-content: center; */
  margin: auto;
  padding: 10%;
  font-size: 1.4rem;
  font-weight: 200;
}

.plan-habana-banner__header {
  font-size: max(3vw, 25px);
  font-weight: 800;
}

.plan-habana-banner--bold {
  font-weight: 500;
  /* font-size: 1.2rem; */
}

.plan-habana-banner--small {
  font-size: max(1vw, 0.8rem);
}

.plan-habana-banner__imagen-container {
  /* width: 45%; */
}

.plan-habana-banner__imagen {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* ! PLAN HABANA EXPOSICION <--------- */

.plan-habana-exposicion {
  padding-block: 80px;
  width: 80%;
  margin: 0 auto;
  background-color: #0e0e0e;
  color: #fff;
}

.plan-habana-exposicion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.plan-habana-exposicion--small {
  font-size: 23px;
  font-weight: 200;
}
.plan-habana-exposicion--big {
  font-size: 55px;

  font-weight: 700;
}

.plan-habana-exposicion__header-logo {
  width: 270px;
}

.exposicion-p1 {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.9rem;
  text-align: justify;
}
.exposicion-p2 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: justify;
  color: #b9b9b9;
}

.plan-habana-exposicion--bold {
  font-weight: 300;
}
.exposicion-p3 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: justify;
  color: #989898;
}
.exposicion-p4 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: justify;
  color: #909090;
}
.exposicion-p5 {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: justify;
  color: #6f6f6f;
  margin-bottom: 50px;
}

.btn-plan-habana-exposicion {
  font-size: 1.1rem;
  padding: 15px 40px;
}

/* MEDIA QUERIES <------- */
@media (max-width: 950px) {
  .plan-habana-exposicion__header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
}

/* ! INTERNADO <---------------- */
.internado {
  background: linear-gradient(#81062d, #6c0526);
  color: #fff;
  /* width: 80%; */
  padding-inline: 15%;
  margin: 0 auto;
  padding-block: 70px;
  position: relative;
}

.internado__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.internado__header-text {
  font-size: 3rem;
  font-weight: 800;
}

.internado__header-logo {
  height: 40px;
}

.internado__paragraph {
  font-size: max(1.5rem);
  font-weight: 200;
  margin-bottom: 30px;
  text-align: justify;
}

.internado__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 200px;
}

.btn__internado {
  background-color: #ffffff;
  color: #82072e;
  font-size: 1.1rem;
  padding: 15px 30px;
}

.internado__footer-text {
  font-size: 1.4rem;
  font-weight: 300;
}

.internado__images-container {
  width: 85%;
  margin-inline: auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 1rem; */
  position: absolute;
  margin-top: -150px;
  /* top: 610px; */
  right: -20px;
  left: -20px;
  /* bottom: -80px; */
}

.internado__image {
  /* height: 300px; */
  width: 100%;
  border-radius: 20px;
}

.talleres {
  padding: 15% 15% 100px 15%;
  align-items: center;
  background: linear-gradient(#fff, #fbfbfb);
  overflow-x: hidden;
}

.talleres__header {
  font-size: 3rem;
  font-weight: 700;
  color: #830731;
}

.talleres__paragraph {
  font-size: 1.4rem;
  color: #4d4d4d;
  padding-right: 95px;
  padding-bottom: 30px;
}

.btn__talleres {
  padding: 15px 30px;
  font-size: 0.9rem;
}

.talleres__image {
  width: 100%;
}

/* MEDIA QUERIES <---------------- */
@media (max-width: 700px) {
  .entrenamientos__header {
    font-size: 10vw;
  }
  .plan-habana-exposicion--big {
    font-size: 2.5rem;
  }
  .row {
    max-width: 100%;
    gap: 1rem;
  }

  .internado__images-container {
    /* width: 100%; */

    /* margin-inline: auto; */
    /* display: grid;
  grid-template-columns: 1fr 1fr; */
    /* gap: 1rem; */
    /* position: absolute; */
    /* margin-top: -150px; */
    /* top: 610px; */
    /* right: -20px;
    left: -20px; */
    /* bottom: -80px; */
    align-items: center;
  }

  .internado__image {
    /* width: 100%; */
    height: 80px;
  }

  .internado__footer {
    flex-direction: column;
    text-align: center;
  }

  .talleres__header {
    text-align: center;
  }

  .talleres__paragraph {
    padding-right: 0px;
    text-align: center;
  }

  .talleres__text {
    text-align: center;
  }
}

.nopadding {
  padding-left: 0 !important;
}
