.video-filtro__container {
  /* height: 200px; */
  background-color: #000;
}
.video-frame {
  /* height: 700px;
  width: 70%;
  margin-inline: auto;
  padding-block: 50px;
  background-color: #989898;
  border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

iframe {
  /* width: 70%; */
  margin: 0 auto;
}

.video-info {
  width: 70%;
  margin-inline: auto;
}

.video-info__title {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.video-filtro__title {
  & h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
  }
  & p {
    color: #8c8f8e;
    font-size: 1.5rem;
    font-weight: 200;
  }
}
.video-filtro__hr {
  border: 1px solid #8c8f8e;
}

.video-filtro__length {
  color: #8c8f8e;
  font-size: 1.5rem;
  font-weight: 200;
  margin-block: auto;
}

.video-info__subtitle {
  padding-block: 15px;
  font-size: 1.2rem;
  display: flex;
  color: #8c8f8e;
  gap: 10rem;
  .bold {
    font-weight: 600;
  }
}

.video-filtro__footer {
  width: 70%;
  margin: 0 auto;
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
}

.recursos__footer-btn button {
  background-color: red;
}
/* AUDIO <--------------------- */

.audio-filtro__container {
  /* height: 200px; */
  background-color: #000;
}

.audio-filtro__imagen {
  width: 100%;
}
.audio-frame {
  height: 100%;
  width: 70%;
  margin-inline: auto;
  /* padding-block: 50px; */
  /* background-color: #989898; */
  /* border: 1px solid red; */
}

._3q4Ah {
  display: none;
}

._tAQkw {
  display: none;
}

._RZMQZ {
  /* {display: none;} */
}

._8c4KL {
  display: none;
}

._RZMQZ {
  display: none;
}

.audio-info {
  width: 70%;
  margin-inline: auto;
}

.audio-info__title {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.audio-filtro__title {
  & h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
  }
  & p {
    color: #8c8f8e;
    font-size: 1.5rem;
    font-weight: 200;
  }
}
.audio-filtro__hr {
  border: 1px solid #8c8f8e;
}

.audio-filtro__length {
  color: #8c8f8e;
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  align-items: end;
  margin-bottom: 15px;
  /* margin-block: auto; */
}

.audio-info__subtitle {
  padding-block: 15px;
  font-size: 1.2rem;
  display: flex;
  color: #8c8f8e;
  gap: 10rem;
  .bold {
    font-weight: 600;
  }
}

.audio-filtro__footer {
  width: 70%;
  margin: 0 auto;
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .audio-filtro__title {
    & h3 {
      font-size: 5vw;
    }
  }
  /* .audio-filtro__length {
    margin-top: 68px;
  } */
}
